<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Jovian Careers
    </title>
    {%include 'bootstrap.html'%}
</head>

<body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div id="container">
        <h1 class="mt-2 mb-4">
            {{company_name}} Careers
        </h1>
        <div class="row" style="margin-bottom:16px;">
            <div class="col-md-6">
                <p class="bodytext">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit necessitatibus totam quisquam sint
                    ducimus
                    saepe culpa, incidunt fugit, vitae veniam labore quibusdam
                    consectetur quasi quo corporis sequi quos repellat ut?
                </p>
            </div>
            <div class="d-none d-md-block col-md-6">
                <img src="/static/working.jpg" style="height:320px; border-radius:4px;">
            </div>
        </div>
        <h2 class="mt-2 mb-4">
            Open Positions
        </h2>
        <p>
        <div>
            {% for job in jobs %}
            {% include 'jobitems.html' %}
            {% endfor %}
        </div>
        </p>
        <div class="text-center">
            <a href="mailto:borjaruizcesar@gmail.com?subject=Questions about Jovian&body=Tell us your concerns"
                class="btn btn-primary btn-lg">Contact Us</a>
        </div>
    </div>
    {% include 'footer.html' %}
</body>

</html>